@import "../../styles/master";
.button-add {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;
  margin: 1rem auto;
  background-color: $secondary-color;
  z-index: 1;
  transition: 0.2s linear all;
  &:focus {
    outline: none;
  }
  &:hover {
    opacity: 0.9;
  }

  div {
    height: 32px;
    width: 4px;
    background-color: $primary-color;
    border-radius: 0.25rem;

    &::after {
      display: block;
      content: "";
      height: 4px;
      width: 32px;
      background-color: $background-color;
      border-radius: 0.25rem;
      margin-top: 14px;
      margin-left: -14px;
    }
  }
}

.search-is-active {
  transform: rotate(-135deg);
}
