.navbar-container {
  padding-top: 2rem;
  position: relative;
  z-index: 100;

  .navbar {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin: 0 auto;
    max-width: 35rem;
  }
}
