.nav-list-container {
  position: absolute;
  background-color: aliceblue;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transform: translateX(100vw);
  display: flex;
  flex-direction: column;

  .nav-list-group {
    list-style: none;
    width: 90%;
    margin: 8rem auto 0 auto;

    .nav-list-item {
      font-size: 1.5rem;
      margin: 1rem 0;
    }
  }
}

.is-active {
  transform: translateX(0);
}
