.forecast-row-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;

  // > div {
  //   width: 25%;
  // }
  .forecast-weekday-highlight {
    width: 30%;
    h4 {
      font-weight: 500;
      text-align: start;
    }
  }

  .forecast-humidity-container {
    display: flex;
    justify-content: flex-end;
    width: 20%;

    .humidity-img {
      width: 0.75rem;
      margin-right: 0.25rem;
    }
  }

  .forecast-weather {
    display: flex;
    padding-left: 0.75rem;
    width: 30%;
  }

  .forecast-temperature {
    width: 20%;
    display: flex;
    justify-content: space-between;
  }
}
