.containter-weather-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;

  .weather-current {
    display: flex;
    align-items: center;

    .degrees-highlight {
      font-size: 3.5rem;
      margin-left: 0.5rem;
      font-weight: 400;
    }

    .weather-icon {
      max-width: 4rem;
    }
  }

  .weather-specs-list {
    list-style: none;
    .weather-specs-item {
      text-align: end;
      margin: 0.25rem 0;
      font-size: 0.75rem;
    }
  }
}
